@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/colors' as *;

.sign-up {
  width: 20rem;
  padding-left: 1rem;
  &__title {
    padding-bottom: 1rem;
    @extend .sub-title;
    color: $background-blue;
  }
  &__form {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
  }
  &__label {
    padding-bottom: 0.25rem;
    @extend .label;
    color: $grey;
  }
  &__input {
    margin-bottom: 0.5rem;
    padding: 0.25rem;
    @extend .body;
    color: $darkPurple;
  }
  &__btn {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: $lightOrange;
    @extend .body;
    color: $white;
  }
}
