//Colors

//primary colors
$background: #fdddc1;
$lightOrange: #f09259;
$orange: #ff8300; //#e16347;
$background-blue: #200266a4; //#070e5a;
$darkPurple: #0f0c31;
$mercury: #e1e1e1;
$alabaster: #fafafa;
$grey: #504644;
$dark: #1d1b1a;
$white: #ffffff;

//error color
$errorState: #d22d2d;
