//Colors

//primary colors
$background: #fdddc1;
$lightOrange: #f09259;
$orange: #ff8300; //#e16347;
$mercury: #e1e1e1;
$alabaster: #fafafa;
$grey: #504644;
$dark: #1d1b1a;

//error color
$errorState: #d22d2d;
