@use '../partials/colors' as *;
@use '../partials/mixins' as *;

*,
*::before,
*::after,
button,
input,
div,
img,
h1,
video,
article,
section {
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
