@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/colors' as *;

.revoke {
  width: fit-content;
  display: flex;
  flex-direction: column;
  &__title {
    padding-bottom: 1rem;
    @extend .title;
    color: $background-blue;
  }
  &__txt {
    padding: 0 0.5rem 1rem 0;
    @extend .body;
    color: $darkPurple;
    &--warning {
      color: $errorState;
    }
  }
  &__nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__btn {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: $lightOrange;
    @extend .body;
    color: $white;
  }
}
