@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/colors' as *;

.logout-button {
  width: fit-content;
  height: fit-content;
  border: none;
  border-radius: 8px;
  background-color: $lightOrange;
  color: $white;
  padding: 0.5rem;
  @extend .body;
}
