@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/colors' as *;

.main {
  padding: 2rem 1.5rem 0;
  width: 100%;
  &__title {
    padding-left: 0.5rem;
    @extend .title;
    color: $background-blue;
  }
}
