.overlay {
  padding-top: 7rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.update-modal {
  max-width: 600px;
  height: fit-content;
  padding: 1rem;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  background-color: #ffffffff;
  display: flex;
  flex-direction: column;
}
