@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/colors' as *;

.manage-events {
  width: 100%;
  padding: 2rem 1.5rem 1rem;
  &__container {
    border-bottom: 1px solid $mercury;
  }
  &__title {
    padding-bottom: 1rem;
    @extend .title;
    color: $background-blue;
  }
  &__txt {
    padding: 1rem 1.5rem;
    @extend .body;
    color: $darkPurple;
  }
}
