@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/colors' as *;

.header {
  width: 100%;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $background-blue;
  &__logo-container {
    width: 4rem;
    background-color: $white;
    border-radius: 50%;
  }
  &__logo {
    width: 3.5rem;
    margin-right: 0.5rem;
    background-position: center;
    background-size: cover;
  }
  &__container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    @extend .title;
    color: $orange;
  }
}
