@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/colors' as *;

.event-card {
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid black;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__column-wrapper {
    width: 160px;
    height: 70px;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
