@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/colors' as *;

//nav component
.nav {
  width: fit-content;
  padding-left: 1rem;
  &__list {
    display: flex;
    list-style: none;
  }
  &__link {
    text-decoration: none;
    &:hover,
    &:visited,
    &:active {
      color: inherit;
      text-decoration: none;
    }
  }
  &__item {
    border-right: 1px solid $mercury;
    padding: 0 1rem;
    @extend .body;
    color: $lightOrange;
    &--last {
      border: none;
    }
  }
}
