@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/colors' as *;

//nav component
.nav {
  width: fit-content;
  &__list {
    gap: 0.5rem;
    display: flex;
    list-style: none;
  }
}
